
hardware/BackupFiles/

*.log

software/wcupl/wcupl.exe

software/wcupl/test/adr_simple.pld

software/wcupl/test/adr_simple.si

software/wcupl/wcupl.zip

cpld/wcupl/

software/wcupl/test/wcupl/
